/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: var(--content-width);
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-text-weight);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: #1a1a1a;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  width: 100%;
  min-height: 368px;
  border: var(--main-border);
}

.header__title {
  font-size: var(--title-font-size);
  line-height: 1;
  margin-bottom: 20px;
}

.header__title-description {
  font-size: var(--description-font-size);
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  padding: 2px;
  gap: 2px;
}

.card__title {
  background-color: var(--bg-color);
  font-variation-settings: 'wght' var(--card-title-weight);
  font-size: 18px;
  line-height: 100%;
  padding: 4px 10px;
  min-height: 30px;
}

.card__image-container {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-brightness {
  filter: brightness(1.5);
}

.filter-invert {
  filter: invert(10%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg) sepia(20%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  color: var(--label-text-color);

  text-shadow:
    1px 1px 0 var(--label-stroke-color),
    -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color);
}

@supports ((-webkit-text-stroke: 1px white) or (text-stroke: 1px white)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__description {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-family: var(--main-font);
  font-weight: var(--main-text-weight);
  font-size: var(--main-font-size);
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  width: 34px;
  height: 34px;
  overflow: visible;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border: var(--main-border);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform var(--transition-speed);
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--main-text-weight);
  font-size: var(--accent-font-size);
  line-height: 90%;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button {
  gap: 8px;
  padding: 16px 18px;
}

.diskette-icon {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  fill: #ffffff;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog-window {
  display: none;
  background: var(--bg-color);
  border: var(--main-border);
  padding: 30px;
  max-width: clamp(341px, 100%, 353px);
}

.dialog-window[open] {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dialog-window__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-window__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog-window__text {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: var(--main-text-weight);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-window__form {
  width: 100%;
}

.dialog-window__close-button {
  width: 100%;
  min-height: 38px;
  padding: 10px;
  text-transform: uppercase;
}

.dialog-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  .header {
    min-height: 327px;
  }

  .save-button {
    flex-direction: column;
  }

  .dialog-window {
    max-width: 341px;
    padding: 30px 40px;
  }

  .diskette-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
}