:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight: 410;
  --card-title-font-weight: 715;
  --background-gradients:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-width: clamp(375px, 50vw, 700px);
  --text-stroke-color: #fff;
  --animation-fill-color: #f00;
  --contour-color: #000;
  --background-color: #fff;
  --border-color: #000;
}